<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => '标题' do %>
      <%= f.text_field :title, :class => :span6 %>
    <% end %>
    <%= f.input :content,:label => "内容",class:"wysihtml5",:input_html => {:rows => 20, :style => 'width: 98%;'} %>
    <%= f.input :image, :label => "文章图片" do %>
      <%= f.text_field :image, :class => :span6 %>
      <%= f.hint "图片用于显示在列表的小图片。" %>
    <% end %>
    <%= f.input :category_id,:collection => Category.all,:label => "分类目录" %>
  </div>

  <div class="">
    <%= f.button :submit,class: "btn btn-success" %>
    <%= link_to "取消", posts_path %>
  </div>
<% end %>

<script type="text/javascript">
	$('#post_content').wysihtml5();
</script>
